/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav ul {
    display: none;
  }
  nav div {
    display: block;
  }
  header {
    padding-top: 5em;
    font-size: 0.8em;
    text-align: center;
  }
  article {
    max-width: 80vw;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  article {
    max-width: 16vw;
  }
}
