header {
  /* BOX MODELING PROPERTIES */
  background: royalblue;
  color: white;
  width: 100vw;
  padding: 1em;
  padding-top: 4em;
  padding-bottom: 2em;

  font-size: 1.2em;

  h1 {
    font-style: italic;
    text-shadow: 1.5px 1.5px 1.5px black;
  }
  p {
    font-size: 0.8em;
  }
}
